<div id="previous-person">
<% if @previous_person %>
  <p>
    <strong><%= @previous_person.name %></strong>
  </p>

  <p><%= image_tag @previous_person.image_url %></p>
  <p><%= raw @previous_person.bio %></p>
  <ul>
    <% @previous_person.trivia.each do |trivium| %>
      <li><%= trivium %></li>
    <% end %>
  </ul>
<% end %>
</div>

<div id="current-person">
  <p>Now then, who's this?</p>
  <%= form_for @game do |form| %>
    <p><%= image_tag @question.image_url, alt: @question.description, class: "to-guess" %></p>

    <% @question.guesses.each do |guess| %>
      <p><%= form.radio_button :guess, guess.id %>
        <%= form.label :guess, guess.name, value: guess.id %></p>
    <% end %>

    <p><%= form.submit "Guess" %></p>
  <% end %>
</div>
