<div id="previous-person">
  <% if @previous_person.present? %>
    <h3><%= @previous_person.name %></h3>
    <p>
      <%= @previous_person.title %> in <%= @previous_person.cohort %>
    </p>

    <p><%= image_tag @previous_person.image_url %></p>
    <p><%= raw @previous_person.bio %></p>
    <% if @previous_person.trivia.present? %>
      <h5>Trivia</h5>
      <ul>
        <% @previous_person.trivia.each do |trivium| %>
          <li><%= trivium %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>

<div id="current-person">
  <p>OK, who's this?</p>
  <%= form_for @game do |form| %>
    <p><%= image_tag @question.image_url, class: "to-guess" %></p>

    <%= render @guesses.first, checked: true, form: form %>
    <%= render @guesses[1..-1], checked: false, form: form %>

    <p><%= form.submit "Guess" %></p>
  <% end %>
</div>
